<div class="card border-dark my-3 px-2">
  <div class="card-body pt-2">
    <div class="row d-flex align-items-center border-bottom pb-1 mb-2">
      <div class="col-2 mr-0 d-flex align-items-center">
        <%= image_tag group.get_group_image(90,90), class: "rounded image-fit" %>
      </div>

      <div class="card-title col-7 mb-0">
        <h4 class="font-weight-bold  mb-0">
          <%= group.name %></h4>
        <div>
          <span><i class="fas fa-users mr-1"></i><%= group.members.count %>人のメンバー</span>
        </div>
        <div>
          <span><i class="fas fa-crown"></i>管理者：<%= link_to group.owner.display_name, member_path(group.owner), class:"text-reset" %></span>
        </div>
      </div>

      <div class="col-3 d-flex flex-column align-items-center">
        <div class="card-text">
          <% if group.owner == current_member %>
            <%= link_to "編集", edit_group_path(group), class: "btn btn-success" %>
            <%= link_to "削除", group_path(group), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
          <% elsif current_member.joined_already?(group) %>
            <%= link_to "退会する", group_groups_member_path(group), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
          <% else %>
            <%= link_to "参加する", group_groups_member_path(group), method: :post, class: "btn btn-info" %>
          <% end %>
        </div>
        <div class="card-text">
          <% if group.owner == current_member %>
            <small class="text-secondary">管理しているグループ</small>
          <% elsif current_member.joined_already?(group) %>
            <small class="text-secondary">参加済み</small>
          <% end %>
        </div>
      </div>
    </div>

    <div>
      <%= group.description %>
    </div>

  </div>
</div>