<% if posts.present? %>

  <% posts.each do |post| %>
  <div class="card border-dark mt-2 shadow">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= link_to post_path(post) do %>
          <%# is_closedカラムがtrueなら×マーク画像を表示する %>
          <% if post.is_closed %>
            <%= image_tag asset_path("hiding_image.png"), size: "500x500", class: "image-fit height-auto" %>
          <% else %>
            <%= image_tag post.get_post_image(540,540), class: "image-fit height-auto" %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body d-flex flex-column col-md-8 pt-2 px-4 pb-3">
        <%= render "public/posts/post_deteil", post: post %>
      </div>
    </div>
  </div>
  <% end %>
  
  <div class="d-flex justify-content-center mt-2">
    <%= paginate posts %>
  </div>

<% else %>
  <div class="text-center mt-3">
    <span>投稿がありません<span>
  </div>
<% end %>