<div class="card border-dark mt-3 p-2">
  <div class="card-row mx-1 d-flex align-items-center">
    <div class="col-1 px-1">
      <%= image_tag @member.get_member_image(100,100), class: "rounded-circle image-fit" %>
    </div>

    <div class="col mb-0 pl-3">
      <h6 class="font-weight-bold d-inline-block mb-0">
        <%= @member.display_name %></h6>
      <span class="d-inline-block mb-0">@<%= @member.account_name %></span>
      <div><i class="fas fa-beer text-warning mr-1"></i><%= @member.posts.count %> Beers</div>
      <div>
        <%= link_to member_followings_path(member_id: @member.id), class: "text-reset" do %>
        <%= @member.followings.count %><span class="small">フォロー</span>
        <% end %>
      <span class="mx-1">|</span>
        <%= link_to member_followers_path(member_id: @member.id), class: "text-reset" do %>
        <%= @member.followers.count %><span class="small">フォロワー</span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card border-dark mt-1 px-2">
  <div id="error-message" class="mt-2">
    <%= render "layouts/errors", obj: @message %>
  </div>

  <%= form_with model: [@message_room, @message], local: false do |f| %>
    <div class="row border rounded-pill m-1">
      <div class="col-11 pr-0">
        <%= f.text_area :content, autofocus: true, placeholder: "メッセージを追加", class: "form-control bg-transparent border-0 mr-0", style: "resize: none" %>
      </div>
      <div class="col-1 d-flex align-items-center pl-0">
        <%= f.submit "送信", class: "btn btn-secondary rounded-pill px-2 py-1" %>
      </div>
    </div>
  <% end %>

  <div id="messages-index">
  <%= render "public/messages/messages_index", messages: @messages, message_room: @message_room %>
  </div>
</div>

<div class="d-flex justify-content-center mt-2">
  <%= paginate @messages %>
</div>

<div class="text-center">
  <%= link_to "戻る", :back, class: "btn btn-primary px-4 rounded-pill" %>
</div>
