<div class="col-md-10 mx-auto">
  <%= render "admin/members/show", member: @member %>

  <div class="form-row mt-3 d-flex justify-content-end mr-1">
    <%= form_with url: admin_member_followings_path, method: :get, local: false do |f| %>
    <div class="input-group border border-secondary rounded-pill bg-white mb-1">
      <%= f.text_field :member_search, placeholder: "アカウント名で検索", class: "form-control form-control-sm input-group-prepend border-0 bg-transparent" %>
      <span class="input-group-btn">
       <%= f.button type: "submit",class: "border-0 form-control form-control-sm bg-transparent" do %><i class="fas fa-search"></i><% end %>
      </span>
    </div>
    <% end %>
  </div>


  <div class="col">
    <h5 class="mr-2 d-inline-block font-weight-bold">フォロー</h6>
    <span class="mr-2">|</span>
    <u><%= link_to "フォロワー",admin_member_followers_path(member_id: params[:member_id]), class: "text-reset" %></u>
  </div>

  <% if @member.followings.exists? %>
    <div id="followings-index">
      <%= render "admin/members/index", members: @members %>
    </div>

  <% else %>
  <div class="text-center mt-3">
    <span>フォローしているユーザーがいません<span>
    <% if @member == current_member %>
      <br><u><%= link_to "ユーザーを探してフォローしましょう！", members_path, class: "text-reset" %></u>
    <% end %>
  </div>
  <% end %>
</div>