<div class="card border-dark border-top-0 rounded-0">
  <div class="card-body">
    <div class="d-flex border-bottom align-items-end pb-1 mb-3">
      <h5 class="card-title mb-0">会員情報編集（基本情報）</h5>
      <span class="small text-danger mb-0 ml-1">*は必須項目です</span>
    </div>
    <%= form_with model: @member do |f| %>
      <div class="form-group row my-2">
        <div class="col-4">
          <label class="col-form-label" for="member_account_name">
            アカウント名<br>（英数字）</label><span class="text-danger ml-0">*</span>
        </div>
        <div class="col-8">
          <%= f.text_field :account_name, autofocus: true, autocomplete: "account_name", placeholder: "アカウント名（英数字）", class: "form-control rounded-pill" %>
        </div>
      </div>

      <div class="form-group row my-2">
        <div class="col-4">
          <%= f.label :display_name, "表示名", class: "col-form-label" %><span class="text-danger">*</span>
        </div>
        <div class="col-8">
          <%= f.text_field :display_name, autofocus: true, autocomplete: "display_name", placeholder: "表示名", class: "form-control rounded-pill" %>
        </div>
      </div>

      <div class="form-group row my-2">
        <div class="col-4">
          <%= f.label :email, "メールアドレス", class: "col-form-label" %><span class="text-danger">*</span>
        </div>
        <div class="col-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control rounded-pill" %>
        </div>
      </div>

      <div class="form-group row my-2">
        <div class="col-4">
          <%= f.label :member_image, "プロフィール画像", class: "col-form-label" %>
        </div>
        <div class="col-8 d-flex align-items-center">
          <%= f.file_field :member_image, autofocus: true, class: "form-control-file" %>
        </div>
      </div>

      <div class="form-group row my-2">
        <div class="col-4">
          <%= f.label :introduction, "自己紹介", class: "col-form-label" %>
        </div>
        <div class="col-8">
          <%= f.text_area :introduction, autofocus: true, placeholder: "自己紹介", rows: 5, class: "form-control rounded" %>
        </div>
      </div>

      <div class="actions text-center py-3">
        <%= f.submit "変更", class: "btn btn-success px-4 rounded-pill" %>
      </div>
    <% end %>
  </div>
</div>