<div class="card border-dark mt-3 px-2">
  <div class="card-body">
    <div class="row border-bottom pb-2">

      <div class="col-2 px-1 d-flex align-items-center">
        <%= image_tag member.get_member_image(150,150), class: "rounded-circle image-fit" %>
      </div>

      <div class="col-7 mb-0 pl-3">
        <h5 class="font-weight-bold d-inline-block mb-0">
          <%= member.display_name %></h5>
        <span class="d-inline-block mb-0">@<%= member.account_name %></span>
        <div><i class="fas fa-beer text-warning mr-1"></i><%= member.posts.count %> Beers</div>
        <div>
          <%= link_to member_followings_path(member_id: member.id), class: "text-reset" do %>
          <%= member.followings.count %><span class="small">フォロー</span>
          <% end %>
        <span class="mx-1">|</span>
          <%= link_to member_followers_path(member_id: member.id), class: "text-reset" do %>
          <%= member.followers.count %><span class="small">フォロワー</span>
          <% end %>
        </div>
        <% if member == current_member %>
          <div>
            <%= link_to mypage_group_list_path, class: "text-reset" do %>
            <%= current_member.groups.count %><span class="small">グループ</span>
            <% end %>
          </div>
        <% end %>
          <div>
            <!--<span class="btn btn-secondary">メッセージ</span>-->
            <% if member == current_member %>
              <%= link_to mypage_edit_path, class:"btn btn-secondary ml-2" do %><i class="fas fa-wrench"></i>設定<% end %>
            <% end %>
          </div>
      </div>

      <% unless member == current_member %>

      <div class="col-3 d-flex flex-column align-items-center justify-content-center px-0">
        <div>
          <% if current_member.followed_already?(member) %>
            <%= link_to "フォロー解除", member_relationship_path(member), method: :delete, class: "btn btn-warning text-white" %>
          <% elsif member.followed_me?(current_member) %>
            <%= link_to "フォローバック", member_relationship_path(member), method: :post, class: "btn btn-info" %>
          <% else %>
            <%= link_to "フォローする", member_relationship_path(member), method: :post, class: "btn btn-info" %>
          <% end %>
        </div>

        <div>
          <% if member.followed_me?(current_member) %>
          <small class="text-secondary">フォローされています</small>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div>
      <%= member.introduction %>
    </div>
  </div>
</div>