<div id="error-message">
  <%= render "layouts/errors", obj: @group_post %>
</div>

<%= form_with model: [group, group_post], local: false do |f| %>
  <div class="row form-group my-2">
    <div class="col-md-2">
      <%= f.label :title, "トピック名", class: "col-form-label" %><span class="text-danger">*</span>
    </div>
    <div class="col-md-10">
      <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control rounded-pill" %>
    </div>
  </div>

  <div class="row form-group my-2">
    <div class="col-md-2">
      <%= f.label :content, "本文", class: "col-form-label" %><span class="text-danger">*</span>
    </div>
    <div class="col-md-10">
      <%= f.text_area :content, autofocus: true, rows: 5, class: "form-control" %>
    </div>
  </div>

  <div class="actions text-center py-3">
    <% if params[:id] == nil %>
      <%= f.submit "作成", class: "btn btn-success px-4 rounded-pill" %>
    <% else %>
      <%= f.submit "更新", class: "btn btn-success px-4 rounded-pill" %>
    <% end %>
    <%= link_to "戻る", group_path(group), class: "btn btn-primary px-4 rounded-pill" %>
  </div>
<% end %>