<%= render "public/groups/show", group: @group %>

<%= render "public/group_posts/index", group: @group, group_post: @group_post %>

<div class="card border-dark my-2 px-2">
  <div class="card-row mx-1 mt-2 d-flex align-items-center">
    <%= image_tag current_member.get_member_image(35,35), class: "rounded-circle image-fit" %>
    <h6 class="ml-1 mb-0"><%= current_member.display_name %></h6>
  </div>
  <%= form_with model: [@group, @group_post, @group_post_comment], local: false do |f| %>
    <div class="border-bottom">
      <div class="row border rounded-pill mx-1 mt-0 mb-1">
        <div class="col-11 pr-0">
          <%= f.text_area :content, autofocus: true, placeholder: "コメントを追加", class: "form-control bg-transparent border-0 mr-0", style: "resize: none" %>
        </div>
        <div class="col-1 d-flex align-items-center pl-0">
          <%= f.submit "送信", class: "btn btn-secondary rounded-pill px-2 py-1" %>
        </div>
      </div>
    </div>
  <% end %>

  <div id="group-post-comments-index">
    <%= render "public/post_comments/post_comments_index", post: @group_post, post_comments: @group_post_comments, group: @group %>
  </div>
</div>

<div class="text-center">
  <%= link_to "戻る", group_path(@group), class: "btn btn-primary px-4 rounded-pill" %>
</div>
