<div id="error-message">
  <%= render "layouts/errors", obj: brewery %>
</div>
<div class="card p-3">
  <div class="text-center mb-1">
    <h5><u>
    <% if params[:id] == nil %>
      ブルワリー新規登録
    <% else %>
      ブルワリー編集
    <% end %>
    </u></h5>
  </div>

  <%= form_with model: [:admin, brewery], local: false do |f| %>
    <% if params[:id] != nil %>
      <div class="text-center">
        選択中のブルワリーID：<%= brewery.id %>
      </div>
    <% end %>
    <div class="form-group my-2">
      <%= f.text_field :name, placeholder: "ブルワリー名", class: "form-control" %>
    </div>

    <div class="form-group my-2">
      <%= f.select :location, Brewery.locations.keys.to_a, {}, class: "form-control"%>
    </div>

    <div class="form-group my-2">
      <%= f.text_area :description, placeholder: "ブルワリー説明", class: "form-control" %>
    </div>

    <div class="form-group my-2 text-center">
      <% if params[:id] == nil %>
        <%= f.submit "新規登録", class: "btn btn-success p-2" %>
      <% else %>
        <%= f.submit "編集する", class: 'btn btn-success p-2' %>
        <%= link_to "戻る", admin_breweries_path , class: 'btn btn-primary p-2' %>
      <% end %>
    </div>
  <% end %>
</div>