<div id="error-message">
  <%= render "layouts/errors", obj: beer_style %>
</div>
<div class="card p-3">
  <div class="text-center mb-1">
    <h5><u>
    <% if params[:id] == nil %>
      ビアスタイル新規登録
    <% else %>
      ビアスタイル編集
    <% end %>
    </u></h5>
  </div>

  <%= form_with model: [:admin, beer_style], local: false do |f| %>
    <% if params[:id] != nil %>
      <div class="text-center">
        選択中のビアスタイルID：<%= beer_style.id %>
      </div>
    <% end %>
    <div class="form-group my-2">
      <%= f.text_field :name, placeholder: "ビアスタイル名", class: "form-control" %>
    </div>

    <div class="text-center my-2">
      <div class="form-check form-check-inline">
        <%= f.radio_button :category, :lager, class: "form-check-input" %>
        <%= f.label :category_lager, "ラガー", class: "form-check-label" %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :category, :ale, class: "form-check-input" %>
        <%= f.label :category_ale, "エール", class: "form-check-label" %>
      </div>
    </div>

    <div class="form-group my-2 text-center">
      <% if params[:id] == nil %>
        <%= f.submit "新規登録", class: "btn btn-success p-2" %>
      <% else %>
        <%= f.submit "編集する", class: 'btn btn-success p-2' %>
        <%= link_to "戻る", admin_beer_styles_path , class: 'btn btn-primary p-2' %>
      <% end %>
    </div>
  <% end %>
</div>