<div class="container">
  <div class="row">
    <div class="card border-dark mx-auto mt-5 col-md-5">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-1 mb-3">ログイン</h5>
        
        <%= form_with model: @member, url: member_session_path do |f| %>
          <div class="form-group my-2">
            <%= f.text_field :account_name, autofocus: true, autocomplete: "account_name", placeholder: "アカウント名", class: "form-control rounded-pill" %>
          </div>
          
          <div class="form-group my-2">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control rounded-pill" %>
          </div>
          
          <% if devise_mapping.rememberable? %>
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :ログイン情報を記憶する, class: "form-check-label" %>
            </div>
          <% end %>
          
          <div class="actions text-center py-3">
            <%= f.submit "ログイン", class: "btn btn-success px-4 rounded-pill" %>
          </div>
        <% end %>
        
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>