<% beers.each.with_index(1) do |beer, index| %>
<div class="card border-dark mt-3">
  <div class="card-body row">
    <div class="col-9">
      <div class="card-title mb-0">
        <h5 class="font-weight-bold d-inline-block mb-0">
          <% case index when 1 %>
            <span class="fa-layers">
              <i class="fas fa-crown fa-lg text-warning", data-fa-transform="left-4 up-1"></i>
              <span class="fa-layers-text", data-fa-transform="shrink-4">
                <%= index %>
              </span>
            </span>
          <% when 2 %>
            <span class="fa-layers">
              <i class="fas fa-crown fa-lg text-secondary", data-fa-transform="left-4 up-1"></i>
              <span class="fa-layers-text", data-fa-transform="shrink-4">
                <%= index %>
              </span>
            </span>
          <% when 3 %>
            <span class="fa-layers">
              <i class="fas fa-crown fa-lg color-orange", data-fa-transform="left-4 up-1"></i>
              <span class="fa-layers-text", data-fa-transform="shrink-4">
                <%= index %>
              </span>
            </span>
          <% end %>
          <%= link_to admin_beer_path(beer), class: "text-reset" do %>
            <%= beer.name %>
          <% end %></h5>
        <h6 class="d-inline-block mb-0"> / <%= beer.brewery.name %></h6>
      </div>
      <div class="border-bottom small"><%= beer.beer_style.name %></div>
      <div class="d-flex align-items-end">
        <% if beer.evaluation == nil %>
          <span>未評価</span>
        <% else %>
          <span id="beers-rate<%= beer.id %>">
            <%= render "public/beers/beer_rate_display", beer: beer %>
          </span>
          <span class="ml-2 font-weight-bold ">
            <%= beer.evaluation.round(2) %>
          </span>
        <% end %>
        <small>
          （<%= beer.posts.count %>件の投稿）
        </small>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <%= link_to "編集", edit_admin_beer_path(beer), class: "btn btn-success" %>
      <%= link_to "削除", admin_beer_path(beer), method: :delete, "data-confirm" => "紐づく投稿も削除されます。本当に削除しますか？", class: "btn btn-danger ml-1" %>
    </div>
  </div>
</div>
<% end %>

<% if member_signed_in? %>
  <div class="text-center mt-2">
  <%= link_to admin_new_beer_path, class: "text-reset" do %>
    <u>投稿したいビールが見つかりませんか？<br>こちらから情報を追加しましょう！</u>
  <% end %>
  </div>
<% end %>

<div class="d-flex justify-content-center mt-2">
  <%= paginate beers %>
</div>