<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to admin_beer_styles_path, class: "text-reset" do %><i class="fas fa-wine-bottle"></i>ビアスタイル管理
</li><% end %>

<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to admin_breweries_path, class: "text-reset" do %><i class="fas fa-industry"></i>ブルワリー管理
</li><% end %>

<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to admin_beers_path, class: "text-reset" do %><i class="fas fa-beer"></i>ビール管理
</li><% end %>

<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to admin_posts_path, class: "text-reset" do %><i class="fas fa-feather-alt"></i>投稿管理
</li><% end %>

<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to admin_members_path, class: "text-reset" do %><i class="fas fa-user"></i>ユーザー管理
</li><% end %>

<!--li class="nav-item mx-2 my-1 text-white text-center">
  <%#= link_to admin_breweries_path, class: "text-reset" do %><i class="fas fa-users"></i>グループ管理
</li--><%# end %>