<div class="card border-dark mt-3 p-3">
  <div class="row">
    <div class="col-6 col-md-12 col-lg-6 mb-2">
      <%= image_tag current_member.get_member_image(150,150), class: "rounded-circle image-fit" %>
    </div>

    <div class="col-6 col-md-12 col-lg-6">
      <div class="font-weight-bold"><%= current_member.display_name %></div>
      <div class="small">@<%= current_member.account_name %></div>
      <div><i class="fas fa-beer text-warning"></i>
        <%= current_member.posts.count %>
        <span>Beers</span>
      </div>
      <div>
        <%= link_to member_followings_path(member_id: current_member.id), class: "text-reset" do %>
        <%= current_member.followings.count %><span class="small">フォロー</span>
        <% end %>
      </div>
      <div>
        <%= link_to member_followers_path(member_id: current_member.id), class: "text-reset" do %>
        <%= current_member.followers.count %><span class="small">フォロワー</span>
        <% end %>
      </div>
      <div>
        <%= link_to mypage_group_list_path, class: "text-reset" do %>
        <%= current_member.groups.count %><span class="small">グループ</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row py-2">
    <div class="col">
      <%= current_member.introduction %>
    </div>
  </div>

  <div class="row d-flex justify-content-center border-bottom px-2 pb-2">
    <%= link_to message_rooms_path, class:"col-lg btn btn-secondary m-1" do %><i class="far fa-envelope"></i>メッセージ<% end %>
    <%= link_to mypage_edit_path, class:"col-lg btn btn-secondary m-1" do %><i class="fas fa-wrench"></i>設定<% end %>
  </div>


  <% if current_member.posts.exists? %>
    <div class="row pt-2 pl-3">
      <u class="small text-secondary"><%= link_to "全ての投稿を見る", member_path(current_member.id), class: "text-reset" %></u>
    </div>

    <div class="row p-2">
    <% my_posts.each do |post| %>
     <%# @my_postsはアプリケーションコントローラで定義 %>
      <div class="col-4 p-1">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_post_image(150,150), class: "image-fit rounded" %>
        <% end %>
      </div>
      <% end %>
    </div>

  <% else %>
    <div class="row pt-2 pl-3">
      <span class="small">まだ投稿がありません<br>
      <u><%= link_to "ビールを探して投稿しましょう！", beers_path, class: "text-reset" %></u>
    </div>
  <% end %>
</div>
