<div class="col-md-2 mx-auto">
  <div class="card border-dark mt-3 p-2">
    <div class="font-weight-bold mx-auto my-2">
      Top Beers
    </div>

    <div class="pb-2" >
      <div class="small mb-1 pl-1">
        ■全ビール
      </div>

      <% if top_beer_all != nil %>
        <div class="d-flex">
          <div class="d-inline-box">
            <span class="fa-layers mt-2">
              <i class="fas fa-crown fa-2x text-warning", data-fa-transform="up-3 left-2 shrink-4"></i>
              <span class="fa-layers-text font-weight-bold", data-fa-transform="right-8 up-4 shrink-3">
                1
              </span>
            </span>
          </div>
          <div class="d-inline-box text-middle ml-3">
            <%= link_to top_beer_all.name, beer_path(top_beer_all), class: "text-reset" %>
          </div>
        </div>

        <div class="d-flex align-items-end justify-content-center border-bottoms">
          <% if top_beer_all.evaluation == nil %>
            <span class="mr-auto ml-2">未評価</span>
          <% else %>
            <span class="beers-rate-sidebar<%= top_beer_all.id %>">
              <%= render "public/beers/beer_rate_display", beer: top_beer_all %>
            </span>
            <span class="ml-2 font-weight-bold ">
              <%= top_beer_all.evaluation.round(2) %>
            </span>
          <% end %>
        </div>

      <% else %>
        <div class="small mb-1 pl-1">
          ビール情報がありません
        </div>
      <% end %>

    </div>
      <%= render "layouts/sidebar_content", top_beer: top_beer_1, my_beer_style: current_member.my_beer_style1_id %>
      <%= render "layouts/sidebar_content", top_beer: top_beer_2, my_beer_style: current_member.my_beer_style2_id %>
      <%= render "layouts/sidebar_content", top_beer: top_beer_3, my_beer_style: current_member.my_beer_style3_id %>
      <%= render "layouts/sidebar_content", top_beer: top_beer_4, my_beer_style: current_member.my_beer_style4_id %>

      <% if current_member.my_beer_style1_id.nil? ||
        current_member.my_beer_style2_id.nil? ||
        current_member.my_beer_style3_id.nil? ||
        current_member.my_beer_style4_id.nil? %>
      <div class="small border-top mb-1 p-1 pt-2">
        <span>設定されていないマイビアスタイルがあります</span><br>
        <u><%= link_to "こちらから設定しましょう！", mypage_edit_path, class: "text-reset" %></u>
      </div>
      <% end %>
  </div>
</div>