<!DOCTYPE html>
<html>
  <head>
    <title>BrewHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand ml-3">
          <%= link_to root_path, class: "text-reset" do %>
            <%= image_tag '/images/logo.png',size: '200x44', class: "border border-dark m-0 p-0" %>
          <% end %>
        </span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if member_signed_in? %>
            <li class="nav-item btn btn-light mx-2 my-1"><%= link_to "マイページ", mypage_path, class: "text-reset" %></li>
            <li class="nav-item btn btn-light mx-2 my-1"><%= link_to "ビールを探す", beers_path, class: "text-reset" %></li>
            <li class="nav-item btn btn-light mx-2 my-1"><%= link_to "投稿を探す", posts_path, class: "text-reset" %></li>
            <li class="nav-item btn btn-light mx-2 my-1"><%= link_to "ユーザーを探す", members_path, class: "text-reset" %></li>
            <li class="nav-item btn btn-light mx-2 my-1"><%= link_to "グループを探す", groups_path, class: "text-reset" %></li>
            <li class="nav-item btn btn-light mx-2 my-1"><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "text-reset" %></li>
          <% else %>
            <li class="nav-item btn btn-light mx-2 my-1"><%= link_to "ビールを探す", beers_path, class: "text-reset" %></li>
            <li class="nav-item btn btn-light mx-2 my-1"><%= link_to "ログイン", new_member_session_path, class: "text-reset" %></li>
            <li class="nav-item btn btn-light mx-2 my-1"><%= link_to "会員登録", new_member_registration_path, class: "text-reset" %></li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container-fluid">
        <div class="row">
          <% if member_signed_in? %>
            <%= render "layouts/mypage" %>
          <% end %>
          <div class="col-md-7 mx-auto">
            <%= yield %>
          </div>
          <% if member_signed_in? %>
            <%= render "layouts/sidebar" %>
          <% end %>
        </div>
      </div>
    </main>

    <footer class="fixed-bottom bg-dark py-2">
      <p class="text-center text-white">Copyright © 2022 Brew Hub All Rights Reserved.</p>
    </footer>

    <% unless flash.empty? %>
        <script>
          toastr.options = {
            "positionClass": "toast-top-left",
            "closeButton": true,
          };
          <% flash.each do |type, msg| %>
            <% type = 'info' if type == 'notice' %>
            <% type = 'error' if type == 'alert' %>
            <% type = 'success' if type == 'success' %>
            toastr['<%= type %>']('<%= msg %>');
          <% end %>
        </script>
    <% end %>

  </body>
</html>
