<!DOCTYPE html>
<html>
  <head>
    <title>BrewHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand ml-3">
          <%= link_to root_path, class: "text-reset" do %>
            <%= image_tag '/images/logo.png',size: '200x44', class: "border border-dark m-0 p-0" %>
          <% end %>
        </span>

        <% if member_signed_in? %>
          <div class="ml-auto">
            <li class="nav-item dropdown list-unstyled">
                <a class="nav-link dropdown-toggle bg-transparent text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag current_member.get_member_image(40,40), class: "rounded-circle image-fit" %>
                  @<%= current_member.account_name %>
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "マイページ", mypage_path, class: "dropdown-item" %>
                <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </div>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if member_signed_in? %>
              <li class="nav-item mx-2 my-1 text-white text-center">
                <%= link_to beers_path, class: "text-reset" do %><i class="fas fa-beer"></i>ビールを探す
              </li><% end %>

              <li class="nav-item mx-2 my-1 text-white text-center">
                <%= link_to posts_path, class: "text-reset" do %><i class="fas fa-feather-alt"></i>投稿を探す
              </li><% end %>

              <li class="nav-item mx-2 my-1 text-white text-center">
                <%= link_to members_path, class: "text-reset" do %><i class="fas fa-user"></i>ユーザーを探す
              </li><% end %>

              <li class="nav-item mx-2 my-1 text-white text-center">
                <%= link_to groups_path, class: "text-reset" do %><i class="fas fa-users"></i>グループを探す
              </li><% end %>

            <% else %>
              <li class="nav-item mx-2 my-1 text-white text-center">
                <%= link_to beers_path, class: "text-reset" do %><i class="fas fa-beer"></i>ビールを探す
              </li><% end %>

              <li class="nav-item mx-2 my-1 text-white text-center">
                <%= link_to new_member_session_path, class: "text-reset" do %><i class="fas fa-sign-in-alt"></i>ログイン
              </li><% end %>

              <li class="nav-item mx-2 my-1 text-white text-center">
                <%= link_to new_member_registration_path, class: "text-reset" do %><i class="fas fa-user-plus"></i>会員登録
              </li><% end %>
            <% end %>
          </ul>
        </div>


      </nav>
    </header>

    <main>
      <div class="container-fluid">
        <div class="row">
          <% if member_signed_in? %>
            <%= render "layouts/mypage" %>
          <% end %>
          <div class="col-md-7 mx-auto">
            <%= yield %>
          </div>
          <% if member_signed_in? %>
            <%= render "layouts/sidebar" %>
          <% end %>
        </div>
      </div>
    </main>

    <footer class="fixed-bottom bg-dark py-2">
      <p class="text-center text-white">Copyright © 2022 Brew Hub All Rights Reserved.</p>
    </footer>

    <% unless flash.empty? %>
        <script>
          toastr.options = {
            "positionClass": "toast-top-left",
            "closeButton": true,
          };
          <% flash.each do |type, msg| %>
            <% type = 'info' if type == 'notice' %>
            <% type = 'error' if type == 'alert' %>
            <% type = 'success' if type == 'success' %>
            toastr['<%= type %>']('<%= msg %>');
          <% end %>
        </script>
    <% end %>

  </body>
</html>
