<!DOCTYPE html>
<html>
  <head>
    <title>BrewHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <main>
      <div class="container-fluid">
        <div class="row">
          <% if member_signed_in? %>
            <div class="col-md-3">
              <%= render "layouts/mypage" %>
            </div>
          <% end %>
          <div class="col-md-7 mx-auto">
            <%= yield %>
          </div>
          <% if member_signed_in? %>
            <%= render "layouts/sidebar" %>
          <% end %>
        </div>
      </div>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
